$top-header-label-font-size: 0.8rem;

$nav-brand-font-size: 1.9rem;
$nav-brand-font-size-small: 2rem;
$nav-brand-font-size-xs: 1.5rem;
$nav-brand-font-weight: 650;
$nav-brand-font-weight-small: 600;

$checkout-btn-font-size:0.9rem;
$checkout-btn-font-size-small:0.8rem;
$checkout-btn-font-size-xs:0.6rem;
$checkout-btn-font-weight:500;
$checkout-btn-font-weight-small:400;

$cart-product-title-font-size: 0.8rem;
$cart-product-title-font-size-sm: 0.7rem;
$cart-product-title-font-size-xs: 0.6rem;
$cart-product-font-size: 0.7rem;
$cart-product-font-size-sm: 0.6rem;
$cart-product-font-size-xs: 0.6rem;
$cart-bill-price-font-weight: 500;
$cart-product-font-weight: 400;