@import "~bootstrap/scss/bootstrap";
@import "Variables/fonts";
@import "Header/header";
@import "userAut";

.loading{
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
